* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
} 

body { 
	
	
	background: linear-gradient(90deg,rgb(222, 120, 19),rgb(246, 216, 156));
	line-height: 1.6; 
	color: #333; 
} 


header { 
	background: linear-gradient(to right,rgb(248, 140, 0),rgb(190, 131, 42));
	color: #fff; 
	text-align: center; 
	padding: 1rem 0; 
} 

nav ul { 
	list-style: none; 
	display: flex; 
	justify-content: center; 
	background: linear-gradient(to right,rgb(238, 138, 7),rgb(246, 216, 156));
	padding: 0.5rem 0; 
} 

nav li { 
	margin-right: 20px; 
} 

nav a { 
	text-decoration: none; 
	color: #fff; 
	font-weight: bold; 
	transition: color 0.3s; 
} 

nav a:hover { 
	color: #ff6600; 
} 

.search button:hover { 
	background-color: #ff3300; 
} 

.job-listings { 
	margin: 2rem 0; 
} 

.job-listings h2 { 
	font-size: 24px; 
	margin-bottom: 1rem; 
	text-align: center; 
} 

.job-listings ul { 
	list-style: none; 
} 

.job-listings li { 
	background-color: rgb(243, 215, 163); 
	border: 1px solid #ccc; 
	padding: 20px; 
	margin-bottom: 20px; 
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
} 

.job-listings h3 { 
	font-size: 30px; 
	margin-bottom: 10px; 
} 

.job-listings p { 
	font-size: 20px; 
	font-style: italic;
	margin-bottom: 10px; 
} 

.job-listings a { 
	background-color: #333; 
	color: #ffffff; 
	text-decoration: none; 
	padding: 10px 20px; 
	border-radius: 4px; 
	display: inline-block; 
	transition: background-color 0.3s; 
} 

.job-listings a:hover { 
	background-color: #ff6600; 
} 



footer { 
	text-align: center; 
	background-color: #333; 
	color: #fff; 
	padding: 1rem 0; 
}
